{% extends 'base.html' %}
{% block content %}
    <!-- begin:: Page -->
        {% include 'components/header_mobile.html' %}
		<div class="kt-grid kt-grid--hor kt-grid--root">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
				<!-- begin:: Aside -->
                    {% include 'components/aside.html' %}
				<!-- end:: Aside -->

                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
					<!-- begin:: Header -->
                        {% include 'components/header.html' %}
					<!-- end:: Header -->

					<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                        <div class="kt-subheader  kt-grid__item" id="kt_subheader">
                            <div class="kt-container  kt-container--fluid ">
                                <div class="kt-subheader__main">
                                    <h3 class="kt-subheader__title">Thêm bước</h3>
                                </div>
                                <div class="kt-subheader__toolbar">
                                    <div class="kt-subheader__wrapper">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <form id="update_step_form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Tên bước</label>
                                        <input type="text" class="form-control name" name="name" required value="{{ step.name }}">
                                    </div>
                                    <div class="form-group">
                                        <label>Vị trí</label>
                                        <input type="number" class="form-control position" name="position" required value="{{ step.position }}">
                                    </div>
                                    <div class="form-group ">
                                        <label>Nhóm bước</label>
                                            <div class="form-group-sub">
                                                <select class="form-control scenario_id" name="scenario_id">
                                                    {% for scenario in scenarios %}
                                                        {% if scenario.id == step.scenario_id %}
                                                            <option value="{{ scenario.id }}" selected>
                                                                {{ scenario.name}}
                                                            </option>      
                                                        {% else %}
                                                            <option value="{{ scenario.id }}">
                                                                {{ scenario.name}}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            <button type="button" class="btn btn-primary" btn-edit data-id="{{step.id}}">Xác nhận</button>
                                            <button type="button" class="btn btn-secondary" btn-back>Trở về</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="col-2"></div>
                        </div>

					</div>

                    <!-- begin:: Footer -->
                        {% include 'components/footer.html' %}
                    <!-- end:: Footer -->
				</div>
			</div>
		</div>
    <!-- end:: Page -->
{% endblock%}
{% block script %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });
        $('#update_step_form').on('keyup keypress', function(e) {
          let keyCode = e.keyCode || e.which;
          if (keyCode === 13) {
            e.preventDefault();
            return false;
          }
        })
        .on('click', '[btn-back]', function() {
            window.history.back();
        })
        .on('click', '[btn-edit]', function() {
            const id = $(this).attr('data-id');
            const name = $('.name').val();
            const position = $('.position').val();
            const scenario_id = $('.scenario_id').val();
            $.ajax({
                    url : `/api/steps/${id}`,
                    type : "put",
                    data : JSON.stringify({
                        name,
                        position,
                        scenario_id
                    }),
                    success : function (response) {
                        toastr.success("Thành công");
                    }
                });
        })
    </script>
{% endblock%}



