{% extends 'base.html' %}
{% block content %}
    <!-- begin:: Page -->
        {% include 'components/header_mobile.html' %}
		<div class="kt-grid kt-grid--hor kt-grid--root">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
				<!-- begin:: Aside -->
                    {% include 'components/aside.html' %}
				<!-- end:: Aside -->

                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
					<!-- begin:: Header -->
                        {% include 'components/header.html' %}
					<!-- end:: Header -->

					<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                        <div class="kt-subheader  kt-grid__item" id="kt_subheader">
                            <div class="kt-container  kt-container--fluid ">
                                <div class="kt-subheader__main">
                                    <h3 class="kt-subheader__title">Sửa ý định</h3>

                                </div>
                                <div class="kt-subheader__toolbar">
                                    <div class="kt-subheader__wrapper">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <form id="intent_detail_form">
                                    <input class="bot_id" type="hidden" value="{{ intent.bot_id }}" name="bot_id">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Ý định</label>
                                        <input type="text" class="form-control intent" name="intent" placeholder="Ý định" value="{{ intent.intent }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Mô tả</label>
                                        <input type="text" class="form-control description" name="description" placeholder="Mô tả" value="{{ intent.description }}" required>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            <button type="button" class="btn btn-primary" btn-edit data-id="{{ intent.id }}">Xác nhận</button>
                                            <button type="button" class="btn btn-secondary" btn-back>Trở về</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="col-2"></div>
                        </div>

					</div>

                    <!-- begin:: Footer -->
                        {% include 'components/footer.html' %}
                    <!-- end:: Footer -->
				</div>
			</div>
		</div>
    <!-- end:: Page -->
{% endblock %}

{% block script %}
    <script type="application/javascript">
        $('#intent_detail_form').on('keyup keypress', function(e) {
          let keyCode = e.keyCode || e.which;
          if (keyCode === 13) {
            e.preventDefault();
            return false;
          }
        })
        .on('click', '[btn-back]', function() {
            window.history.back();
        })
        .on('click', '[btn-edit]', function() {
            let id = $(this).attr('data-id');
            let intent =  $(".intent").val();
            let description = $(".description").val();
            $.ajax({
                url :`/api/intents/${id}`,
                type : 'put',
                contentType: 'application/json',
                data : JSON.stringify({
                    intent:intent,
                    description:description
                }),
                success : function (response) {
                    toastr.success("Thành công");
                }
            });
        })
    </script>
{% endblock %}


